OPENOBSERVE_IMAGE=public.ecr.aws/zinclabs/openobserve:v0.90.3
OPENOBSERVE_ROOT_EMAIL=admin@local.test
OPENOBSERVE_ROOT_PASSWORD=REPLACE_WITH_RANDOM_PASSWORD
OPENOBSERVE_BASIC_AUTH=REPLACE_WITH_BASE64_EMAIL_COLON_PASSWORD
OPENOBSERVE_INGEST_KEY=REPLACE_WITH_RANDOM_UPLOAD_KEY
OPENOBSERVE_BIND_ADDRESS=127.0.0.1
OPENOBSERVE_HTTP_PORT=5080
OPENOBSERVE_PUBLIC_URL=http://localhost:5080
